html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Lato', sans-serif;
    color: #3B6484;
}

h1 {
    color: #B8D14D;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

div[class^="col-"] {
    flex-wrap: nowrap;
}

.col-1 {
    padding: 40px;
    background: rgb(100,91,249);
    background: linear-gradient(90deg, rgba(22.4, 42.7, 58.4,1) 0%, rgba(22.4, 45.1, 62.4,1) 0%, rgba(22.4, 40.8, 54.9,1) 63%);
    border-right: 8px solid #3B6484;
}
.col-2 {
    flex-grow: 1;
    overflow-y: auto;
}

.dotted {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
    }

ul {
    list-style: none;
    padding: 0;
}

ul li a {
    color: #fefefe;
    text-decoration: none;
}

div[class^="page"] {
    height: 100vh;
    padding: 40px;
}

.pages h1 {
    color: #444;
}